@use 'colors' as c; 
@use 'fonts' as f;  

@mixin cta-buttons{
    button{
        background-color: c.$red;
        font-family: f.$body-font;
        cursor: pointer;
        color: c.$white;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        overflow: hidden; 
        background-size: 200% 100%; 
        background-position: 100% bottom; 
        transition: background-color .5s ease-in-out; 
        padding: 15px;
        border-radius: 2px;
        margin-right: 15px;
    }
    button:hover{
        background-position: 100% bottom;
        // border: 1px solid c.$white; 
        transition: border 1s ease-in-out, background-color 0.5s ease-in-out;
        background-color: #e50000ea;
    }
}

