@use "../abstracts" as a;
@use "../abstracts/mixins" as m;

// intro Page
#intro-body{
    position: relative;
    margin: 0 auto;
    height: 90vh;
    background-position: center;
    background-size: cover;
    #intro-logo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-position: center;
        background-size: cover;
        height: 100px;
        width: 356px;
        img{
            width: 40%;
            background-position: center;
            background-size: cover;
            justify-self: center;
            position: absolute;
            @media screen and (min-width: 768px) {
                width: 40%;
            }
            @media screen and (min-width: 1280px) {
                width: 40%;
            }
    
        }

    }
}
