@use "../abstracts" as a;
@use "../abstracts/mixins" as m;
@use "../components/introAnimation";
@use "../components/submittionPage";
@media screen and (min-width: 1280px) {
   // HERO SECTION
   #hero-main{
    height: 670px;
    picture{
      position: relative;
      margin-top: -150px;
      margin-left: -300px;
      z-index: -1;
      opacity: .3;
      img{
        width: 35%;
        height: auto;
      }
    }
    // intro-text
    #intro-text{
      margin-left: 60px ;
      margin-top: -50px;
      #intro-names{
        position: absolute;
      text-align: left;
      margin-top: -120px;
      margin-left: 300px ;
      
          h2{
              font-size: 3vw;
              letter-spacing: 1px;
          }
         
     }
     h3{
      font-size: 3vw;
      // padding-top: 10px;
      margin-top: -10px;
      margin-left: 300px ;
      }
       .intro-bio{
        width: 40vw;
       }
       p{
        margin-top: 10px;
        letter-spacing: .5px;
       }
    }
    .cta-work{
      top: 345px;
      left: 60px;
     .click-button{
        width: 150px;
        font-size: 18px;
     }
    }
  }
  // Works Completed
#works{
  margin-top: 20px;
  h3{
      font-size: 30px;
      padding-block: 15px;
  }
  .mini-works{
      margin-bottom: 35px;
      margin-top: 30px; 
      img{
        width: 40%;
        height: auto;
      }     
  }
  
}

  
  // Experience Section
#xp-rience{
  margin-top: 20px;
  margin-bottom: 20px;
  .xp-head{
     font-size: 30px;
  }
  .xp-sub-head{
      font-size: 20px;
  }
  .xp-note-container{
      .xp-note{
          width: 70%;
        
          font-size: 16px;
      }
  }
}


// about Section
.main-about{
  h2{
    font-size: 30px;
  }
  .social-logo{
    margin-block: 20px;
      img{
          margin-left: 40px;
          margin-right: 40px;
          cursor: pointer;
          width: 40px;
          height: auto;
      }
  }
  p{
      text-align: center;
      line-height: 25px;
      font-size: 18px;
  }
  .abt-tab {
      margin-block: 20px;
  }
  
  .abt-head {
      border: 2px solid a.$white;
      font-size: 18px; 
  }
  
}
// Beyond The site
#beyond{
  margin-top: 40px;
  h2{
    font-size: 20px;
  }
  .icon{
      width: 40px;
  }
  .b-notes{
      text-align: center;
      font-family: a.$body-font;
      font-size: 16px;
      max-width: 70%;
      margin: 0 auto;
  }
  .my-name{
      padding-left: 25px;
      padding-right: 25px;
      letter-spacing: 2px;

  }
  .beyond-ad{
      justify-items: center;
      margin-block-end: 30px;
      @include m.cta-buttons;
      img{
         max-width: 50%;
         height: auto;
         margin: 0 auto;
          
      }
     button{
     font-size: 12px;
     letter-spacing: 1px;
     }
  }
}
// Contact
#contact{
  color: a.$white;
  margin-block: 25px;
  h3{
      margin-block: 15px;
      text-transform: uppercase;
      font-family: a.$bold-font;
      font-size: 20px;
      justify-self: center;
  }
  .email{
      justify-self: center;
      margin-block-end: 15px;
      width: 60px;
      height: auto;
  }
  p{
      justify-self: center;
      text-align: center;
      font-family: a.$body-font;
      font-size: 14px;
      margin-bottom: 15px;
  }
}
// Works Page
#work-hero-main{
  picture{
    margin-top: -30px;
    img{
      max-width: 70%;
      height: auto;
      margin: 0 auto;
    }
  }
  #completed-work-intro{
      position: absolute;
      top: 58%;
      left: 50%;
  }
  .comp-head{
      font-size:20px;
  }
  .comp-title{
      margin-block: 10px;
      font-size: 14px;
  }
  .comp-sub-title{
      font-size: 20px;
      margin-top: 15px;
  }
  .comp-sub-head{
      margin-block: 10px;
      font-size: 14px;
  }
  .comp-date{
      span{
          padding-left: 5px;
          padding-right: 5px;
      }
  }
  .comp-cta{
      padding:6px 7px;
      margin-top: 10px;
  }

}

.work-show{
  max-width: 70%;
  margin: 0 auto; 
  margin-bottom: 35px;
  img{
      max-width: 90%; 
      height: auto;
      margin: 0 auto;
  }
}


#p-info{
  display: flex;
  align-items: center;
  margin-left: 150px;
  h2{
      font-size: 16px;
  }
  p{
      width: 60%;
      margin-left: 20px;
  }
}


// Write Code Above this Line
}

